.viewlogo{
    height : 20px;
    width: 20px;
    border: 2px solid #142CDC;
 border-radius: 10px ;
 margin-right: 4px;
}
.topbut{
    /* border: 2px solid #142CDC; */
    display: block;
    margin-right: 0px;
    margin-top: -120px;
    float :right; 
}
.but1{
    
    background: white;
    color:#142CDC;
    border: 1px solid rgb(235, 230, 221);
    
    padding-left: 4px;
    text-align: center;
    margin-right: 50px;
    margin-top: 50px;
  float: right;
    border-radius: 4px ;

}
.but1 :hover {
    border: 1px solid rgb(240, 223, 192);
}
.homebox{
    /* border: 2px solid #142CDC; */
    margin-top: 120px;
    display: block;
    margin-right: auto;
 margin-left: auto;
    width: 500px;
}
.homelogo{
    display: block;
    height : 40px;
    width: 40px;
    border: 2px solid #142CDC;
 border-radius: 20px ;
 margin-right: auto;
 margin-left: auto;
}
.homeboxtext{
    display: block;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    color:#142CDC ;
    /* border: 2px solid #142CDC; */
    border: none;
    width: 250px;
    height: 40px;
    padding-top: 10px;
    margin-top: -10px;
    margin-right: auto;
 margin-left: auto;
 border-radius: 8px ;
 box-shadow: 0 0 10px rgb(207, 204, 204);
}

.firstline{
    width: 0px;
    height: 40px;
     background-color:rgb(184, 181, 181); 
     margin-top: -2px;
}
.secondline{
    width: 1224px;
    height: 0px;
    margin-top: -7px;
     background-color:rgb(184, 181, 181);
     text-overflow: hidden;
} 
.expandbox{
    display: block;
    float:left;
    width:100px;
    height: 40px;
    border-radius: 8px ;
    /* border: 2px solid #142CDC;  */
    border: none;
    box-shadow: 0 0 10px rgb(207, 204, 204);
    margin-top: -28px;
    margin-left: 47px;
}
.arrow{
    display: inline-block;
    height : 24px;
    width: 24px;
   margin-top: 10px;
   margin-left: 5px;
   margin-right: 2px;
    /* border: 2px solid #142CDC; */
    border: none;
 border-radius: 10px ;
}

.etext{
    display:inline-block;
    color: #142CDC;
    font-weight: 700;
    
    padding-top: 10px;
    width: 60px;
    vertical-align: top;
}

.expandbox2{
    display: block;
    float:right;
    width:100px;
    height: 40px;
    border-radius: 8px ;
    /* border: 2px solid #142CDC;  */
    border: none;
    box-shadow: 0 0 10px rgb(207, 204, 204);
    margin-top: -28px;
    margin-right: 47px;
}
.sec1{
    /* border: 2px solid #142CDC; */
    display: block;
    width: 100%;
    height: 400px;
    
    border: none;
   

}
.sec2{
    display:inline-block ;
    margin-top: 20px;
     /* border: 2px solid #142CDC;  */
    width: 280px;
    height: 420px;
   margin-left: 270px;
   margin-right: 120px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(207, 204, 204); 
    
    
} 
 .sec2box{
    display:inline-block ;
    width: 250px;
    height: 380px;
    overflow:scroll;
    margin-top:80px;
    margin-left: 10px;
    /* border: 2px solid blue; */
    border-radius: 10px;
    
} 

 
.box1{
    font-size: larger;
    font-weight: 700;
    display: inline;
    color: #142CDC;
    margin-left: -70px;
}
.box2{
   
   
    margin-left: -70px;
    display: inline;
    font-size: larger;
    font-weight: 700;
    
    
    color: #142CDC;
}
.detail{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 14px;
   padding-bottom: 10px;
    /* border: 2px solid #142CDC;  */
    width: 220px;
    box-shadow: 0 0 10px rgb(207, 204, 204);
    border-radius: 6px;
}

.lock{
    width: 20px;
    height: 20px;
    border-radius:6px; 
    margin-left: -12px;
 margin-top: 10px;
    border: 2px solid #142CDC;  
    background-color: #142CDC;  
}
.finaldata{
    padding-left: 20px;
    
}
.thirdline{
    height: 50px;
    width: 0px;
    margin-right: 440px;
    margin-top: -10px;
    background-color:rgb(184, 181, 181);
    text-overflow: hidden;
}
.fourthline{
    height: 50px;
    width: 0px;
    margin-left: 412px;
     margin-top: -148px;
     background-color:rgb(184, 181, 181);
     text-overflow: hidden; 
}
.team{
    display: inline-block;
    margin-left: 380px;

margin-bottom: 30px;
height: 54px;
width: 54px;
border:2px solid #142CDC;
border-radius: 27px;
}
.associate{
    margin-bottom: 30px;
    margin-left: 590px;
    /* margin-top: -30px; */
    display: inline-block;
    height: 54px;
width: 54px;
border:2px solid #142CDC;
border-radius: 27px;

}
