$color-background: #f6f8fb;
$color-primary: #59329D;
$color-primary-background: #F1EEF7;
$color-red: #F80909;
$color-pink: #EC4176;
$color-green: #339D43;
$color-yellow: #ffb900;
$color-green-background: #d6ebd9;
$color-disabled: #CCCCCC;
$color-border: #CCCCCC;
$color-border-dark: #333333;
$color-white: #ffffff;
$color-black: #000000;
$color-line: #DDDDDD;
$color-login: #170633;
$color-sidebar: #F7F5FA;

$color-text-black: #000000;
$color-text-dark: #333333;
$color-text: #666666;
$color-text-light: #999999;
$color-text-grey: #8C9AA5;

$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 12px;

$text-small: 12px;
$text-primary: 14px;
$text-larger: 16px;
$text-large: 18px;
$text-title: 32px;

$font-family: 'Open Sans', sans-serif;
